html {
  height: 100%;
  overflow: hidden;
  font-size: 10px !important;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

#cortex-main {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

@media screen and (min-height: 800px) {
  html {font-size: 8px !important;}
}
@media screen and (min-height: 900px) {
  html {font-size: 9px !important;}
}
@media screen and (min-height: 950px) {
  html {font-size: 10px !important;}
}
@media screen and (min-height: 1050px) {
  html {font-size: 11px !important;}
}
@media screen and (min-height: 1100px) {
  html {font-size: 12px !important;}
}
@media screen and (min-height: 1200px) {
  html {font-size: 13px !important;}
}
@media screen and (min-height: 1300px) {
  html {font-size: 14px !important;}
}
@media screen and (min-height: 1400px) {
  html {font-size: 15px !important;}
}
@media screen and (min-height: 1500px) {
  html {font-size: 16px !important;}
}
@media screen and (min-height: 1600px) {
  html {font-size: 17px !important;}
}
@media screen and (min-height: 1700px) {
  html {font-size: 17px !important;}
}
@media screen and (min-height: 1800px) {
  html {font-size: 18px !important;}
}
@media screen and (min-height: 1900px) {
  html {font-size: 18px !important;}
}
