html {
  height: 100%;
  overflow: hidden;
  font-size: 6px !important;
  font-size: 0.90vmin !important;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

#cortex-main {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

/*
@media screen and (max-height: 480px) {
  html {font-size: 0.9vh !important;}
}

@media screen and (min-height: 800px) {
  html {font-size: 1vh !important;}
}
@media screen and (min-height: 900px) {
  html {font-size: 1vh !important;}
}
@media screen and (min-height: 950px) {
  html {font-size: 1vh !important;}
}
@media screen and (min-height: 1050px) {
  html {font-size: 0.7vh !important;}
}
@media screen and (min-height: 1100px) {
  html {font-size: 0.7vh !important;}
}
@media screen and (min-height: 1200px) {
  html {font-size: 0.8vh !important;}
}
@media screen and (min-height: 1300px) {
  html {font-size: 0.9vh !important;}
}
@media screen and (min-height: 1400px) {
  html {font-size: 1.1vh !important;}
}
@media screen and (min-height: 1500px) {
  html {font-size: 1.0vh !important;}
}
@media screen and (min-height: 1600px) {
  html {font-size: 1.0vh !important;}
}
@media screen and (min-height: 1700px) {
  html {font-size: 1.0vh !important;}
}
@media screen and (min-height: 1800px) {
  html {font-size: 1.0vh !important;}
}
@media screen and (min-height: 1900px) {
  html {font-size: 1.0vh !important;}
}
*/
