html {
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #000;
  height: 100%;
  color: #fff;
  /*
  font-family: Helvetica,Arial,sans-serif !important; 
  */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#main {
  height: 100%;
}

.player {
  height: 100%;
  width: 100%;
}

.container-fluid {
  height: 100%;
  /* padding: 30px 50px 30px 50px; */
}

.train-tracker, .train-tracker>div {
  height: 100%;
  margin-right: 10px;
}

.status-header {
  background-color: #363636;
  padding: 20px 20px 20px 40px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 8em;
  font-weight: bold;
}

.header .logo {
  width: 150px;
}

.header h1 {
  font-size: 8em;
  color: #fff;
}

.header .brand {
  font-weight: bold;
}

.header .brand-sub sup {
  vertical-align: top;
  position: relative;
  top: 1.1em;
  font-size: 0.5em;
  padding-left: 0.1em;
}

.header h1 .title {
  color: #ffd400;
}

.transit-widget {
  height: 100%;
  width: 80%;
  border: 0px !important;
}

.weather-widget {
  height: 100%;
  width: 20%;
  border: 0px !important;
}

.status-widget {
  border: 0px !important;
  width: 80%;
  height: 100%;
  padding-top: 20px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.status-widget .line-table {
  border: 0px !important;
  background-color: #000;
  padding: 10px 10px 0px 10px !important;
  margin-bottom: 0px !important;
}

.status-widget .status-table {
  margin-bottom: 10px !important;
}

.status-widget .status-table td {
  padding: 15px 10px 15px 30px;
  border: 0px !important;
}

.status-widget table, .status-widget td, .status-widget tr {
  border: 0px !important;
}

.status-widget .line-name {
  font-size: 6em;
  font-weight: bold;
}

.status-widget .line-status {
  padding-left: 70px;
  font-size: 6em;
}

.transit-widget .stop {
  margin-top: 20px;
  background-color: #363636;
  padding: 20px 20px 20px 40px;
  font-size: 6em;
  font-weight: bold;
}

.transit-widget .route {
  padding: 40px;
  margin-top: 20px;
  background-color: #c60c30;
}

.transit-widget .route .line-name {
  font-size: 4em;
}

.transit-widget .route .direction {
  font-size: 6em;
  font-weight: bold;
}

.transit-widget .route .due{
  font-size: 6em;
  vertical-align: middle;
}

.iframe {
  border: 0;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
}

#weather {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  font-weight: bolder;
  background-color: #262626;
  padding: 20px 20px 0px 20px;
  display: inline-block;
}

#weather .hour {
  font-size: 8em;
  padding-top: 20px;
  line-height: 1;
}

#weather .ampm {
  padding: 0;
  font-size: 5em;
  line-height: 1;
}

#weather .day-of-week {
  padding-top: 150px;
  font-size: 5em;
  line-height: 1;
}

#weather .day-of-month {
  font-size: 5em;
  padding: 0;
  line-height: 1;
}

#weather .weather-icon {
  font-size: 15em;
  padding-top: 200px;
  line-height: 1;
}

#weather .temperature {
  font-size: 10em;
  line-height: 1;
}

#weather .addr {
  font-size: 3em;
}

.editorial-container {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden !important;
}
